<!-- contenitore responsivo fluido -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1> <%= t ".headline" %> </h1>
      <p> <%= t ".first_paragraph" %> </p>
      <br>
      <p> <%= link_to t(".link_to_page_B"), mockups_page_b_path %> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p> <%= link_to "Inglese", params.permit(:locale).merge(locale: 'en') %> </p>
    </div>
    <div class="col-lg-6">
      <p> <%= link_to "Italiano", params.permit(:locale).merge(locale: 'it') %> </p>
      <p> <%= link_to "ItalianoB", request.params.merge(locale: 'it') %> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p> utente attivo: <%= current_user.present? == true ? current_user.email : "nessun utente loggato" %></p>
    </div>
    <div class="col-lg-4">
      <p> ruolo: <%= current_user.present? == true ? current_user.role : "" %></p>
    </div>
    <div class="col-lg-4">
      <p>
        <% if current_user.present? %>
          <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
             <span class="glyphicon ico_logout"></span> Logout
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "btn btn-danger" do %>
             <span class="glyphicon ico_login"></span> Login
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= link_to params.permit(:locale).merge(locale: 'en'), class: "list-group-item #{'active' if params[:locale] == 'en'}" do %>
        <span class="glyphiconmy ico_language_us right-pad"></span> Inglese
      <% end %>
    </div>
    <div class="col-lg-6">
      <%= link_to params.permit(:locale).merge(locale: "it"), class: "list-group-item #{'active' if params[:locale] == 'it'}" do %>
        <span class="glyphiconmy ico_language_it right-pad"></span> Italiano
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1>Hello World</h1>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        Tooltip on top
      </button>
    </div>
  </div>
</div>
