<%= form_with(model: eg_component, local: true) do |form| %>
  <% if eg_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eg_component.errors.count, "error") %> prohibited this eg_component from being saved:</h2>

      <ul>
        <% eg_component.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :shelf_life %>
    <%= form.number_field :shelf_life %>
  </div>

  <div class="field">
    <%= form.label :service_life %>
    <%= form.number_field :service_life %>
  </div>

  <div class="field">
    <%= form.label :supplier_price_list_expiration_date %>
    <%#= form.datetime_select :supplier_price_list_expiration_date %>
    <%= form.datetime_field :supplier_price_list_expiration_date %>
  </div>

  <div class="field">
    <%= form.label :supplier_price_list %>
    <%= form.text_field :supplier_price_list %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :currency_exchange %>
    <%= form.text_field :currency_exchange %>
  </div>

  <div class="field">
    <%= form.label :currency_rounding %>
    <%= form.number_field :currency_rounding %>
  </div>

  <div class="field">
    <%= form.label :supplier_discount %>
    <%= form.text_field :supplier_discount %>
  </div>

  <div class="field">
    <%= form.label :discount_rounding %>
    <%= form.number_field :discount_rounding %>
  </div>

  <div class="field">
    <%= form.label :country_of_origin %>
    <%= form.text_field :country_of_origin %>
  </div>

  <div class="field">
    <%= form.label :custom_tariff_number %>
    <%= form.text_field :custom_tariff_number %>
  </div>

  <div class="field">
    <%= form.label :net_weight %>
    <%= form.text_field :net_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
