<!DOCTYPE html>
<html>
  <head>
    <title>Benvenuti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application_entrance', media: 'all', 'data-turbolinks-track': 'reload' %><!-- serve per heroku. In locale non serve perché indichiamo lo stile direttamente da "packs/application.js"-->
    <%= javascript_pack_tag 'application_entrance', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %><p class="alert alert-info"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>    
    <%= yield %>
  </body>
</html>
